
.profile-section{
  background-color: #fff;
  height: 85vh;
  
}


.welcome-prof{
  background-color: rgb(255, 255, 255);
  height: 20vh;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.prof-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;

}

.twitter{
  padding:0.3em 1.2em;
  margin: 5em;
  border-radius:2em;
  border: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  height: 4em;
  width: 8em;
}


.twitter:hover{
  background-color: #4095c6;
}

@media all and (max-width:30em){
  .twitter{
    display:block;
    margin:0.2em auto;
  }
} 

.profile-header{
  color:black;
  font-family: var(	--card);
  font-size: 2em;
  margin-left: -22%;
 
}

.header{
  color:black;
  font-family: var(	--card);
  font-size: 3em;
  z-index: 3;
  margin-left: 4%;
}
.intruc{
  margin-left: -10%;
  font-size: 1.5em;
  font-family: var(--note);
  margin-top: 9%;
  line-height: 1.5em;
}

.salut{
  width: 70vw;
  z-index: 1;
}

.twitter-hashtag-button{
  font-family: var(  --note);
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  
}

.center-container{
  background: #F0C808;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail{
  margin: 5%;
}

.btn-cont{
  display: flex;
  justify-content:flex-end;
}
.right-container{
  background: #F0C808;
  height: 100%;
  width: 90%;

}

.left-container{
  background: #F0C808;
  height: 123%;
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-image{
  height: 80%;
}

.cat{
  font-family: var(--mono);
  font-size: 1.5em;
}

.inpt{
  border: none;
  height: 1.5em;
  color: var(--dark-purple);
  font-family: var(--card);
  text-align: right;
}

.input::placeholder{
  color: indigo;
}

.user-details{
  font-family: 'Quicksand', sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.user-details-fields{
  display: inline-flex;
  margin: 1em;
  justify-content: space-between;
}

.update-profile {
  display: inline-block;
  border-radius: 25em;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
}



/* Demo Specific Styles */
.profile-body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}




