.report-section{
  height: 100vh;
  background-color: white;
}

.app-title{
  grid-area: 1/ 3/ 5 / 10; 
}

.header{
  font-size: 6em;
}

.report-numbers-box{
  grid-area: 5/ 3/ 8 / 10;
  display: inline-flex;
  justify-content:space-evenly;
}

.num{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.num-ci-box-up{
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 30%;
}

.num-ci-title{
  text-align: center;
  columns: #1a1a1a;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  color: #DB4C40;
  padding: 20%;
}

.num-ci-box-down{
  width: 70%;
  height: 70%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}


.num-ci-data {
  height: 75%;
  width: 95%;
  background-color: #DB4C40;
  border-radius: 25em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Xanh Mono', monospace;
  font-style: italic;
  color: #ffffff
}

.number-title-box{
  width: 70%;
  text-align: right;
  font-size: 4em;
}

.number-title{
  color: #DB4C40;
  text-decoration: underline;
}

.report-title{
  grid-area: 6/ 1/ 11 / 10;
  justify-self: right;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-self: start;
}

.big-report{
  font-family: 'East Sea Dokdo', cursive;
  text-transform: uppercase;
  text-align: right;
  font-size: 35em;
  color: #f0c808;
}

.report-img-box_1{
  grid-area: 2/ 1/ 12 / 3;
  justify-self: center;
}

.report_img{
  height: 90vh;
}

.analysis-section{
  height: 60vh;
  background-color: #f0c808;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px;
}

.pipe-up{
  grid-area: 1/ 7/ 3 /5;
  background-color: #89BD9E;
  width: 5%;
  height: 101%;
  justify-self: center; 
}

.pipe-down{
  grid-area: 7/ 7/ 9 /5;
  background-color: #89BD9E;
  width: 5%;
  height: 100%;
  justify-self: center; 
}

.main-circ-box{
  grid-area: 3/ 7/ 7 /5;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
}

.inner-circle{
  width: 85%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25em;
  border: 15px solid #89BD9E
}

.report-img-box{
  grid-area: 3/ 7/ 7 /5;
  display: inline-flex;
  justify-content: center;
}

.report-img{
  height: 100%;
  z-index: 4;
}

.category-box{
  grid-area: 1/ 8/ 3 /11;
  display: inline-flex;
  align-items: center;
}

.category-title{
  background-color: #3C153B;
  width: 100%;
  height: 50%;
  color: #ffffff;
  font-size: 3em;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

.report-info-1{
  background-color: #1A1A1A;
  grid-area: 5/ 2/ 6 /5;
  margin: 1%;
}

.report-info-2{
  grid-area: 4/ 8/ 5 / 11;
  background-color: #1A1A1A;
  font-size: .7em;
}

.repo-title{
  color: #ffffff;
  font-size: 3em;
  font-family:'Quicksand', sans-serif;
  text-align: center;
  margin: 3%;
}

.report-insight{
  background-color: transparent;
  grid-area: 3/ 2/ 5 / 5;
  margin: 3%;
  width: 100%;
  color: grey;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-align:center;
}

.category-image{
  grid-area: 7/ 9/ 9 / 11;
}
.category-image-2 {
  grid-area: 6/ 7/ 9 / 9;
}

.plant-1{
  height: 100%;
}

.solo_number{
  grid-area: 1/ 1/ 4/ 2;
  background-color: #FFFFFF;
  margin: 10%;
  text-align: center;
  color: #3C153B;
  font-size: 10em;
  font-family: 'East Sea Dokdo', cursive;
}

.zip-title{
  grid-area: 4/ 2/ 6/ 4;
  font-family: 'Xanh Mono', monospace;
  color: #ffffff;
  font-style: italic;
  font-size: 6em;
  align-self: end;
}

.report-zip{
  grid-area: 6/ 1/ 8/ 4;
  text-align: center;
  color: #3C153B;
  font-size: 10em;
  font-family: 'Xanh Mono', monospace;
  font-style: italic;
  
}

.sigup{
  height: 20;
  background-color: #89BD9E ;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5em;
  color: #ffffff;
}

.link{
  color: black;
}

.plan-section{
  height: 70vh;
  background-color: var(  --numbers-color);
}

.left-img{
  grid-area: 1/ 1/ 9/ 4;
}

.hurry-img{
  height: 100%;
}
.result-info-1{
  /* background-color: var(--numbers-color); */
  grid-area: 3/ 2/ 8 / 5;
  width: 70%;
  justify-self: center;
  width: 100%;
}

.btns-inst{
  grid-area: 5 / 10;
}

.inst-title{
  text-align: center;
  background-color: pink;
  font-family: var(--description);
  font-size: 2em;
}

.saving{
  color: black;
  text-align: center;
  font-family: var( --banner);
  font-size: 6em;
  line-height: 60%;
}

.result-info-2{
  grid-area: 3/ 7/ 8 / 10;
  width: 100%;
}

.loading-box{
  position: relative;
}

.loading-message-1 {
  width: 10em;
  height: 2em;
  background-color: pink;
  position: absolute;
  top: 151%;
  left: 60%;
  margin: 330px 0 0 0px;
  font-size: 3em;
  font-family: var(--loading);
  color: black;
  padding: 5% 5% 5% 5%;
}
.loading-message-2 {
  width: 11em;
  height: 1em;
  background-color: pink;
  position: absolute;
  top: 125%;
  left: 15%;
  margin: 160px 0 0 -80px;
  font-size: 3em;
  font-family: var(--loading);
  color: black;
  padding: 5%;
}
