.home-section{
  background-color: #F0C808;
}

.main-container{
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.title-container{
  height: 30vh;
  grid-area: 2/ 2/ 5/ 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#1A1A1A;
}

.title{
  font-family: 'Gravitas One', cursive;
  font-size: 5em;
  z-index: 1;
  margin: 3%;
}
.title-2{
  font-family: 'Gravitas One', cursive;
  font-size: 5.5em;
  z-index: 1;
  /* margin: 3%; */
}
.banner-bx{
  background-color: #1a1a1a;
  font-family: var(--banner);
  font-size: 7em;
  color: var(--background-color);
  grid-area: 3/ 5/ 4/ 7;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  text-align: center;
  height: 90%;
  width: 100%;
  justify-self: self-end;
  align-self: self-end;
}

.img-container{
  grid-area: 1/ 4/ 5/ 5;
  /* background-color: rgb(5, 12, 12); */
  height: 75vh;
  display: inline-flex;
  align-items: start;
}

.report-plan{
  grid-area: 5/ 3/ 5/ 7;
  justify-self: center;
  align-self: center;
}

.plan-title{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px white
;
}
