.home-section{
  background-color: #F0C808;
  border-top: 5px solid #8B1E3F;
}

.main-container{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.title-container{
  /* background-color: aqua; */
  height: 30vh;
  grid-area: 2/ 2/ 5/ 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#1A1A1A;
}

.title{
  font-family: 'Gravitas One', cursive;
  font-size: 5em;
  z-index: 1;
  margin: 3%;
}
.title-2{
  font-family: 'Gravitas One', cursive;
  font-size: 5.5em;
  z-index: 1;
  /* margin: 3%; */
}

.img-container{
  grid-area: 1/ 4/ 5/ 5;
  /* background-color: rgb(5, 12, 12); */
  height: 75vh;
  display: inline-flex;
  align-items: start;
}