.journey-section{
  background-color: #F0C808;
  height: 100vh;
  border-top: 5px solid #8B1E3F;
}

.container{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.information-container{
  grid-area: 1/ 1/ 3 / 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.info-box{
  background-color: #ffffff;
  height: 30vh;
  width: 35vw;
}

.info{
  font-family: 'Xanh Mono', monospace;
  font-size: 2em;
  text-align: center;
  justify-self: center;
  margin: 5%;
  color: #1A1A1A;
}

.box-title{
grid-area: 1/ 3/ 3 / 6;
display: flex;
align-items: flex-end;
justify-content: center;
}

.title{
  font-size: 4em;
  color: #1A1A1A;
}

.title-2{
  font-size: 4.2em;
  color: #1A1A1A;
}

.btn-container{
  grid-area: 3/ 4/ 4 / 6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: #1A1A1A;
  border-radius: 2em;
  color: #ffffff;
  font-size: 1.5em;
  height: 5vh;
  width: 12vw;

}

.btn:hover{
  background-color: #3C153B;
  color:#F0C808;
  font-size: 1.7em;
}

.img-box{
  grid-area: 2/ 2/ 5 / 5;
}

.journey-img{
  height: 67vh;
}


