.journey-section{
  background-color: #F0C808;
  height: 85vh;
}

.container{
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions{
  position: absolute;
  top: 0%;
  left: 5%;
  font-size: 4em;
  font-family: var(--mono);
  color: black;
  text-shadow: 2px 2px white;
}

.btn-container{
  position: absolute;
  top: 90%;
  left: 80%;
}

.btn{
  background-color: #1A1A1A;
  border-radius: 2em;
  color: #ffffff;
  font-size: 1.5em;
  height: 5vh;
  width: 12vw;

}

.box{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-one{
  height: 80%;
  width: 90%;
  background-color: #F0C808;
  border-radius: 20px;
  box-shadow: inset 15px 15px 15px rgb(0,0,0,0.05),
              inset -15px -15px 15px rgb(255,255,255,0.05),
              15px 15px 15px rgb(0,0,0,0.05),
              -15px -15px 15px rgb(255,255,255,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-two{
  height: 70%;
  width: 22%;
  /* max-width: 100px;
  max-height: 100px; */
  box-shadow: 0px 10px 20px rgb(0,0,0,0.08);
  border-radius: 10px;
  will-change: transform, opacity;
  position: absolute; 
  display: flex;
  justify-content: center;
}

.front {
  background-color: #ffffff;

  
}

.back {
  /* background-color: #F0C808; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Front side */
.card-img{
  height: 65%;
  position: absolute;
  top: 37%;
  left: 5%;
}

.card-number{
  align-self: flex-start;
  position: absolute;
  top: 0%;
  left: 40%;
  font-size: 8em;
  color: rgb(32 25 139 / 40%);
  font-family: var(--error)
}

.card-action{
  position: absolute;
  top: 20%;
  left: 7%;
  font-size: 5.5em;
  font-family: var(--card)
}

.deco-one{
  border: none;
  background-color: #F0C808;
  height: 4vh;
  width: 14vw;
  position: absolute;
  top: 30%;
  left: 9%;
  opacity: .2;
}
.deco-two{
  background-color: #F0C808;
  height: 8vh;
  width: 85%;
  position: absolute;
  top: 70%;
  left: 15%;
  z-index: -1;
}

.deco-three{
  background-color: #F0C808;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left: 75%;
  opacity: 0.4;

}

.background{
  position: absolute;
  height: 8vh;
  width: 9vw;
  top: 85%;
  left: 0%;
  z-index: -1;
}

.card-button{
  position: absolute;
  height: 4vh;
  width: 10vw;
  top: 42%;
  left: 30%;
  background-color:var(--dark-purple);
  border: none;
  color: #fff;
  font-family: var(--note);
  font-size: 1.3em;
}

/* back side */

.back-data-container{
  /* background-color: purple; */
  height: 60%;
  width: 80%;
  margin: 5%;
  text-align: center;
}

.back-info{
  font-family: 'Xanh Mono', monospace;
  font-size: 1.3em;
  text-align: center;
  justify-self: center;
  margin: 5%;
  color: #1A1A1A;
}

.back-title{
  font-size: 2em;
  color: #1A1A1A;
  margin: 5%;
}

.btn:hover{
  background-color: #3C153B;
  color:#F0C808;
}


.action-container{
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#1A1A1A;
}

.action{
  font-size: 1.5em;
  text-align-last: right;
  font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
